* {
  box-sizing: border-box;
}

.greetings {
  display: none;
}

.showing {
  display: block;
}

.container {
  visibility: hidden;
  width: 500px;
  height: 500px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}
.items {
  width: 100%;
  height: 400px;
  padding: 0 50px;
}

.item {
  height: 50px;
  background-color: white;
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: pink;
    transition: all 600ms ease-in;
  }
}
