body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgImage {
  width: 100%;
  height: 100vh;
  animation: fadeInOut 1000ms ease;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.clockTitle {
  font-size: 4rem;
  margin: 1rem auto;
  opacity: 0.5;
  text-align: center;
  user-select: none;
}

.hiding {
  visibility: hidden;
}

.showing {
  visibility: visible;
}

.none {
  display: none;
}

.welcome {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .js-greetings {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    margin: 1.5rem 0;
  }
  &:hover {
    cursor: pointer;
    animation: fadeInOut 2000ms ease;
  }
}
.js-toDoList {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  li {
    margin-bottom: 15px;
    button {
      background: none;
      outline: none;
      border: none;
    }
  }
}

.submitInput {
  outline: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

button {
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  vertical-align: top;
}

.js-toDoForm {
  width: 50%;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  input {
    color: white;
  }
}

.js-toDoList {
  height: 0.1px;
  li {
    padding: 0.5rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    line-height: 100%;
    user-select: none;
    font-size: 1.5rem;
    color: white;
  }
}
